[core]
    editor = vim
    autocrlf = false
    symlinks = true
	longpaths = true
[pull]
    ff = only
    rebase = false
[color]
    ui = true
[merge]
    tool = p4merge
[mergetool]
    keepBackup = false
[mergetool "p4merge"]
    path = p4merge
    keepTemporaries = false
    trustExitCode = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[user]
    name = yuzucha16
    email = yuzucha.endou7@gmail.com
 